<!-- Componente para el footer de la página y reutilizarlo en todos los componentes que lo necesiten. -->
<footer class="footer">
    <div class="container">
      <p>&copy; 2024 Rock & Feller's. Todos los derechos reservados.</p>
      <div class="social-media">
        <a href="https://www.facebook.com/rockandfellers" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://x.com/RF_Rosario" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/rockandfellersrosario/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </footer>