<section class="restaurant-menu">
    <app-navbar class="barra-navegacion"> </app-navbar>
    <div class="container">
        <h1 class="text-center" >Carrito</h1>

      <section class="padded">
          <div class="container">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
      
   </div>
    <app-user-form></app-user-form>
    <app-footer></app-footer>
</section>
