<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-content">
  <h2>{{ itemTitle }}</h2>
  <figure>
    <img [src]="imageUrl" class="custom-img-size mx-auto d-block">
  </figure>

  <!-- Control de cantidad -->
  <div class="quantity-control">
    <button class="round-button" (click)="decreaseQuantity()">-</button>
    <span class="quantity-display">{{ quantity }}</span>
    <button class="round-button" (click)="increaseQuantity()">+</button>
  </div>

  <!-- Campo para agregar comentarios -->
  <div class="comment-section">
    <label for="comment">Comentario:</label>
    <textarea id="comment" [(ngModel)]="comment"></textarea>
  </div>

  <!-- Botón para agregar al pedido -->
   {{ cartId}}
  <button class="add-button"(click)="addToCart(quantity, productId)">Agregar al carrito</button>
  <div>  
</div>
