
<head>
    <title>Preguntas Frecuentes</title>
</head>
<body>
    <app-navbar class="barra-navegacion"></app-navbar>
    <div class="container">
        <div class="faq">
            <h2>Reservas</h2>
            <h3>¿Con cuánta anticipación puedo reservar una mesa?</h3>
            <p>Se puede reservar una mesa con hasta 1 semana de anticipación.</p>
            
            <h3>¿En qué horarios puedo realizar una reserva?</h3>
            <p>Nuestras reservas están disponibles todos los días en los siguientes horarios: 19:00, 20:00, 21:00, 22:00 y 23:00.</p>
        </div>

        <div class="faq">
            <h2>Horarios de Atención</h2>
            <h3>¿Cuáles son los horarios de atención del restaurante?</h3>
            <p>Abrimos todos los días de 19:00 a 00:00.</p>
        </div>

        <div class="faq">
            <h2>Ubicación</h2>
            <h3>¿Dónde estamos ubicados?</h3>
            <p>Estamos en Avenida Gourmet 123, Ciudad del Sabor, País Gastronómico.</p>
        </div>

        <div class="faq">
            <h2>Opciones de Servicio</h2>
            <h3>¿Qué opciones tengo para disfrutar de la comida?</h3>
            <ul>
                <li>Reservar una mesa para comer en el restaurante.</li>
                <li>Pedir comida para llevar (Take Away).</li>
                <li>Solicitar un delivery a tu domicilio.</li>
            </ul>
        </div>
    </div>
   
</body>

