<app-navbar class="barra-navegacion"> </app-navbar>
<!-- nosotros.component.html -->
<section class="about-us">
    <div class="container">
        <h1>Sobre Nosotros</h1>
        <p>
            Bienvenidos a Rock and Fellers. Somos una empresa dedicada a ofrecer la mejor experiencia gastronómica, combinando un ambiente único con una exquisita selección de platos y bebidas. Desde nuestros inicios, hemos trabajado arduamente para convertirnos en un referente de calidad y buen servicio.
        </p>

        <h2>Nuestra Historia</h2>
        <p>
            Fundada en [año de fundación], Rock and Fellers comenzó con la visión de crear un espacio donde los amantes de la buena comida y la música puedan reunirse y disfrutar de momentos inolvidables. A lo largo de los años, hemos crecido y evolucionado, manteniendo siempre nuestra pasión por ofrecer lo mejor a nuestros clientes.
        </p>

        <h2>Misión</h2>
        <p>
            Nuestra misión es brindar una experiencia gastronómica única, donde cada plato y cada detalle refleje nuestra dedicación y amor por lo que hacemos. Nos esforzamos por crear un ambiente acogedor y memorable para cada uno de nuestros visitantes.
        </p>

        <h2>Visión</h2>
        <p>
            Aspiramos a ser reconocidos como líderes en la industria de la gastronomía, conocidos por nuestro compromiso con la excelencia y la innovación. Queremos expandir nuestra presencia, llevando la experiencia de Rock and Fellers a nuevas ubicaciones y a un público más amplio.
        </p>

        <h2>Nuestro Equipo</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="ruta/a/la-imagen.jpg" alt="Nombre del Miembro">
                <h3>Nombre del Miembro</h3>
                <p>Posición del Miembro</p>
                <p>Breve descripción del miembro del equipo y su rol en la empresa.</p>
            </div>
            <!-- Repite este bloque para más miembros del equipo -->
        </div>
    </div>
    <app-footer></app-footer>
</section>