/* Estilos para el contenedor azul */
.carousel-conteiner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.barra-navegacion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  height: 90vh;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para los textos del carrusel */
.carousel-caption {
  position: absolute;
  top: 60%; /* Ajusta para estar más abajo en la página */
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto horizontal y verticalmente desde el punto top/left */
  text-align: center;
  width: 80%; /* Ajusta el ancho del contenedor de texto si es necesario */
}

.carousel-caption h3 {
  color: white;
  font-size: 4em; /* Tamaño de la fuente aumentado */
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  padding: 15px 25px; /* Ajusta el relleno para mayor visibilidad */
  border-radius: 8px;
}

.carousel-caption p {
  color: white;
  font-size: 1.5em; /* Tamaño de la fuente ajustado */
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  padding: 10px 20px; /* Ajusta el relleno para mayor visibilidad */
  border-radius: 8px;
}
