/* You can add global styles to this file, and also import other style files */
/*:root {
    color-scheme: light dark;
    --primary-color: rgb(27, 30, 34);
    background-color: rgb(69, 41, 102);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}*/
