 <!DOCTYPE html>
<html lang="es">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-yellow-500 bg-gradient-to-b from-black via-gray-900 to-yellow-600">
  <!-- Navbar -->
  <app-navbar>
    <nav class="bg-transparent p-4 text-white">
      <div class="container mx-auto">Navbar Placeholder</div>
    </nav>
  </app-navbar>

  <!-- Contenedor principal--> 
  <div class="flex-1 flex items-center justify-center">
    <div class="relative z-10 flex flex-col sm:flex-row justify-center max-w-5xl w-full px-4">
      <!-- Texto de bienvenida--> 
      <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md text-gray-300 hidden lg:flex">
        <h1 class="my-3 font-semibold text-4xl text-white">Rock & Fellers</h1>
        <p class="pr-3 text-sm opacity-75 text-white">Registrate para poder continuar, o inicia sesion</p>
      </div>

      <!-- Formulario -->
      <div class="flex justify-center self-center">
        <div class="p-6 sm:p-12 bg-white mx-auto rounded-3xl w-full max-w-md shadow-lg">
          <div class="mb-7">
            <h3 class="font-semibold text-2xl text-gray-800">Iniciar Sesion</h3>
            <p class="text-gray-400">
              No tienes cuenta?
              <a href="/register" class="text-sm text-purple-700 hover:text-purple-700">Registrarse</a>
            </p>
            
          </div>

        

          <div class="space-y-6">
            <div>
              <input  [(ngModel)]="user" class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" type="text" placeholder="Usuario">
            </div>

            <div class="relative">
              <input [(ngModel)]="password" placeholder="Contrasena" type="password" class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
            </div>
            @if (!feedback){ 
            <p style="color: red;">Email o contrasena incorrectos.</p>}

            <div class="flex items-center justify-between">
              <div class="text-sm ml-auto">
                <a href="#" class="text-purple-700 hover:text-purple-600">Olvidaste tu contrasena?</a>
              </div>
            </div>

            <div>
              <button (click)="login()" type="submit" class="w-full flex justify-center bg-purple-800 hover:bg-purple-700 text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
                Entrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer class="mt-auto">
    <footer class="bg-transparent p-4 text-white">
      <div class="container mx-auto">Footer Placeholder</div>
    </footer>
  </app-footer>
</body>
</html>
