/* Estilo global para el cuerpo de la página */
body {
    background-color: #333; /* Cambia este valor por el color exacto de tu footer */
    color: #fff; /* Ajusta el color del texto para asegurar la legibilidad en el fondo oscuro */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; /* Mantén una fuente consistente */
}

/* Estilos para los encabezados */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

/* Estilos para la barra de navegación */
.barra-navegacion {
    position: relative; /* Cambia a 'fixed' si quieres que permanezca visible mientras se hace scroll */
    top: 20px; /* Ajusta esta distancia según tus necesidades */
    margin: 20px auto; /* Centrar la barra horizontalmente */
    padding: 10px 20px; /* Espacio interno para mejorar el aspecto */
    background-color: rgb(255, 0, 0); /* Fondo rojo para contraste */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de flotación */
    border-radius: 8px; /* Bordes redondeados */
    width: 80%; /* Ajusta el ancho según tu diseño */
    z-index: 1000; /* Asegura que esté por encima de otros elementos si es necesario */
}

/* Estilos para los enlaces de la navegación */
.nav-link {
    color: white;
}

/* Estilos para la lista de navegación */
.navbar-nav {
    justify-content: center;
    font-family: 'Nunito';
    width: 100%;
    font-size: 170%;
    display: flex;
    gap: 50px;
    padding: 0; /* Elimina el padding predeterminado si es necesario */
    list-style: none; /* Elimina el estilo de lista predeterminado si es necesario */
}

