h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
.barra-navegacion {
    background-color: rgb(70, 129, 137);
}
.nav-link {
    color: white;
}
.navbar-nav {
    justify-content: center; 
    font-family: 'Nunito';
    width: 100%;
    font-size: 170%;
    display: flex;
    gap: 30px;
    padding: 0; /* Remove default padding if necessary */
    list-style: none; /* Remove default list style if necessary */
}

