<nav class="navbar navbar-expand-sm bg-light">
      <ul class="nav navbar-nav">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            Menu
          </button>
        <li class="nav-item">
            <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/carta">Carta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Turnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quienes somos</a>
        </li>
      </ul>
  </nav>
  ...
  <p>Hola</p>
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Heading</h1>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p>Quienes somos</p>
      <p>Hacer reserva</p>
      <button class="btn btn-secondary" type="button">Boton</button>
    </div>
  </div>
  
  <!-- Button to open the offcanvas sidebar -->
  

<router-outlet></router-outlet>
