<section class="restaurant-menu">
    
    <app-navbar class="barra-navegacion"> </app-navbar>
    
    
    <div class="container">
        <h1 class="text-center" >Nuestra Carta</h1>


    <!-- Sección de Bebidas -->
    <div class="menu-category">
        <h2 class="text-center">Bebidas</h2>
        <div id="carouselBebidas" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let productGroup of groupProductsByThree('Bebidas'); let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let product of productGroup" (click)="openModal(product.name, product.imageUrl, product.id)">
                            <app-menu-item 
                                [title]="product.name"
                                [imageUrl]="product.imageUrl"
                                [altText]="product.name">
                            </app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselBebidas" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselBebidas" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    

<!-- Sección de Entradas -->
    <div class="menu-category">
        <h2 class="text-center">Entradas</h2>
        <div id="carouselEntradas" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let productGroup of groupProductsByThree('Entradas'); let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let product of productGroup" (click)="openModal(product.name, product.imageUrl,product.id)">
                            <app-menu-item 
                                [title]="product.name"
                                [imageUrl]="product.imageUrl"
                                [altText]="product.name">
                            </app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselEntradas" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselEntradas" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Sección de Guarniciones -->
    <div class="menu-category">
        <h2 class="text-center">Guarniciones</h2>
        <div id="carouselGuarniciones" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let productGroup of groupProductsByThree('Guarniciones'); let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let product of productGroup" (click)="openModal(product.name, product.imageUrl, product.id)">
                            <app-menu-item 
                                [title]="product.name"
                                [imageUrl]="product.imageUrl"
                                [altText]="product.name">
                            </app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselGuarniciones" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselGuarniciones" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Sección de Principales -->
    <div class="menu-category">
        <h2 class="text-center">Principales</h2>
        <div id="carouselPrincipales" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let productGroup of groupProductsByThree('Principales'); let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let product of productGroup" (click)="openModal(product.name, product.imageUrl, product.id)">
                            <app-menu-item 
                                [title]="product.name"
                                [imageUrl]="product.imageUrl"
                                [altText]="product.name">
                            </app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselPrincipales" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselPrincipales" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!-- Sección de Postres -->
    <div class="menu-category">
        <h2 class="text-center">Postres</h2>
        <div id="carouselPostres" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let productGroup of groupProductsByThree('Postres'); let i = index" [class.active]="i === 0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let product of productGroup" (click)="openModal(product.name, product.imageUrl,  product.id)">
                            <app-menu-item 
                                [title]="product.name"
                                [imageUrl]="product.imageUrl"
                                [altText]="product.name">
                            </app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselPostres" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselPostres" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
        
    <!-- Modal de productos-->
                <app-menu-item-modal
                *ngIf="isModalOpen"
                [itemTitle]="selectedItemTitle"
                [imageUrl]="selectedImageUrl"
                [productId]="selectedProductId"
                (close)="closeModal()"
                >
            </app-menu-item-modal>
    <app-footer></app-footer>

